<h2><%= t('.synth') %>: <%= synth.name %></h2>

<div class=row>
  <div class='col-md-6'>
    <%= render partial: 'synths/melody_table', locals: {synth: synth} %>
  </div>
  <div class='col-md-6'>
    <%= render partial: 'synths/synth_parameters', locals: {synth: synth} %>
  </div>
</div>


<h3><%= t('.envelope') %></h3>
<%= render partial: 'synths/envelope', locals: {synth: synth} %>
