<table class=synth_pattern >
  <thead>
  <tr>
    <% synth.step_count.times do |step| %>
      <th class="step_header"><%= step + 1 %></th>
    <% end %>
  </tr>
  </thead>
  <tbody id="synth_<%= synth.name %>_table">
  <% (synth.min_note..synth.max_note).to_a.reverse.each do |note| %>
    <tr title="<%= display_midi_note(note) %>">
      <% synth.step_count.times do |step| %>
        <% kls = step_class(synth,step,note) %>
        <td class="<%= kls %>"
            data-pitch="<%= note %>"
            data-step="<%= step %>">
          <div></div>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>