<table class=synth_pattern >
  <thead>
  <tr>
    <% synth.step_count.times do |step| %>
      <th class="step_header"><%= step + 1 %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% (synth.min_note..synth.max_note).to_a.reverse.each do |note| %>
    <%# TODO helper to display midi note name %>
    <tr title="<%= display_midi_note(note) %>">
      <% synth.step_count.times do |step| %>
        <%# TODO helper to get class for synth, note and step %>
        <% kls = (step % 4 == 0) ? 'marker ' : '' %>
        <% if synth.pitch_at_step(step) == note
             if synth.patterns.note_on.pattern_indexes.include?(step)
               kls << 'note_start'
             elsif synth.active_at_step(step)
               kls << 'note_continues'
             else
               kls << 'inactive'
             end
           else
             kls << 'inactive'
           end %>
        <td class="step <%= kls %>"
            id="<%= synth.name %>_note_<%= note %>_step_<%= step %>">
          <div></div>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>