<% 
  split_point = (synth.parameters.count / 2) - 1
  split_point = 0 if split_point < 0
%>

<div class=row>

  <div class='col-md-6'>
    <dl>
      <dt><%= Synth.human_attribute_name(:min_note) %></dt>
      <dd><%= display_midi_note(synth.min_note) %></dd>

      <dt><%= Synth.human_attribute_name(:max_note) %></dt>
      <dd><%= display_midi_note(synth.max_note) %></dd>
 
      <% synth.parameters.keys[0..split_point].each do |param| %>
        <dt><%= Synth.human_attribute_name(param) %></dt>
	<dd><%= synth.send(param) %></dd>  
      <% end %>

    </dl>
  </div>

  <div class='col-md-6'>
    <dl>
      <% synth.parameters.keys[split_point..-1].each do |param| %>
        <dt><%= Synth.human_attribute_name(param) %></dt>
        <dd><%= synth.send(param) %></dd>
      <% end %>
    </dl>
  </div>

</div>
