<tr><td>&nbsp;</td></tr>
<% (synth.min_note..synth.max_note).to_a.reverse.each_with_index do |note, index| %>
  <tr class='overview_melody' title="<%= display_midi_note(note) %>">
    <% if index == 0 %>
      <th rowspan="<%= synth.range %>" valign=top>
        <%= synth.name %>
      </th>
  <% end %>
    <% synth.step_count.times do |step| %>
      <% kls = step_class(synth,step,note) %>
      <td class="<%= kls %>"
          id="<%= synth.name %>_note_<%= note %>_step_<%= step %>">
        <div></div>
      </td>
    <% end %>
  </tr>
<% end %>
