<!DOCTYPE html>
<html>
<head>
  <title>SmiffMusic</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'bootstrap.min' 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'console', 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'sound/sound', 'sound/sample', 'sound/pattern', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class=holder>
  <%= yield %>
</div>

</body>
</html>
